<!DOCTYPE html>

<nav>
  <ul>
    <li class="<%= currentPage === 'home' ? 'active' : '' %>"><a href="/">Home</a></li> 
    <li class="<%= currentPage === 'about' ? 'active' : '' %>"><a href="/about">About Me</a></li>
    <li class="<%= currentPage === 'projects' ? 'active' : '' %>"><a href="/projects">My Projects</a></li>
    <li class="<%= currentPage === 'w_history' ? 'active' : '' %>"><a href="/w_history">Work History</a></li>
    <li class="<%= currentPage === 'contact' ? 'active' : '' %>"><a href="/contact">Contact Me</a></li>
    
  </ul>
</nav>
<br><br>